aiosqlite>=0.22.1
APScheduler>=3.11.2
Authlib>=1.7.2
Automat>=25.4.16
Incremental>=24.11.0
Markdown>=3.10.2
PyHamcrest>=2.1.0
PyJWT>=2.13.0
PyMySQL>=1.2.0
PyPika>=0.51.1
RestrictedPython>=8.2
audioop-lts>=0.2.2
cuda-core>=1.0.1
docstring_parser>=0.18.0
et_xmlfile>=2.0.0
importlib_resources>=7.1.0
lazr.restfulclient>=0.14.6
mypy_extensions>=1.1.0
pyasn1_modules>=0.4.2
pydantic_core>=2.46.4
scikit_build_core>=0.12.2
uuid_utils>=0.16.0
zope.interface>=8.5